<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Corporate Db for Leave Applications</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Labb1_asp.net_CorporateDbLeaveApplication.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <!-- First navbar -->
        <nav class="navbar navbar-expand-lg navbar-up navbar-tight">
            <div class="container-fluid">
                <!-- Logo to the left -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/logo.png" alt="Logo" width="auto" height="80" class="d-inline-block align-top">
                </a>


                <!-- Partial for login to the right -->
                <div class="collapse navbar-collapse justify-content-end mx-3" id="navbarSupportedContent">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
        @if (User.Identity.IsAuthenticated)
        {
            <!-- Second navbar -->
            <div class="navbar-outer">
                <nav class="navbar navbar-expand-lg navbar-light navbar-tight navbar-inner">
                    <div class="container-fluid">
                        <!-- Menu to the left -->
                        <ul class="navbar-nav">
                            @if (User.IsInRole("Employee"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="LeaveApplication" asp-action="Index">My leave requests</a>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="LeaveApplication" asp-action="ManagerIndex">Manage leave requests</a>
                                </li>
                            }
                        </ul>
                        |
                        <ul class="navbar-nav">
                            @if (User.IsInRole("Manager"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="LeaveApplication" asp-action="Index">My leave requests</a>
                                </li>
                            }

                        </ul>

                        <!-- "Apply for new leave to the right -->
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="btn-leave nav-link" asp-area="" asp-controller="LeaveApplication" asp-action="Create">
                                    <span>Apply for new leave</span>
                                </a>
                            </li>
                        </ul>

                        <!-- Button for mobile view -->
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#secondNavbar"
                                aria-controls="secondNavbar" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </nav>
            </div>
        }
    </header>

    <!-- Main content -->
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Corporate Db - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
