@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <h2>@ViewData["Title"] new employee</h2>
    <div class="row justify-content-between align-content-end">
        <div class="col-md-6 mt-lg-5">
            <div class="login-form">
                <h4>User information</h4>
                <hr />
                <form id="registerForm" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="form-floating mt-3">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mt-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Enter password" />
                        <label asp-for="Input.Password">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="form-floating mt-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm password" />
                        <label asp-for="Input.ConfirmPassword">Confirm password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <h4 class="mt-5">Employee information</h4>
                    <hr />

                    <div class="form-floating mt-3">
                        <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="First name" />
                        <label asp-for="Input.FirstName">First name</label>
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>

                    <div class="form-floating mt-3">
                        <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="Last name" />
                        <label asp-for="Input.LastName">Last name</label>
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>

                    <div class="form-floating mt-3">
                        <input asp-for="Input.BirthDate" class="form-control" type="date" aria-required="true" placeholder="Date of birth" />
                        <label asp-for="Input.BirthDate">Date of birth</label>
                        <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
                    </div>

                    <div class="form-floating mt-3">
                        <select asp-for="Input.Role" asp-items="Model.Input.RoleList" class="form-control" aria-required="true">
                            <option value="">Choose role</option>
                        </select>
                        <label asp-for="Input.Role">Role</label>
                        <span asp-validation-for="Input.Role" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn-leave mt-5">Register</button>
                </form>
            </div>
        </div>
        <div class="col-md-6 mt-lg-5">
            <img src="/img/new-employee-welcome-concept-vector.jpg" class="img-fluid" alt="Welcome Concept" />
        </div>
    </div>
</div>
}
