@* ﻿@model IEnumerable<Labb1_asp.net_CorporateDbLeaveApplication.Models.LeaveApplication> *@

@{
    ViewData["Title"] = "Leave applications";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="home-page">

</div>
